<header class="text-white body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
     
      <span class="ml-3 text-xl text-white">Glacial Glitter</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">Blog</a>
      
    </nav>
    
  </div>
</header>
<h1 class="font-medium leading-tight text-6xl mt-10 mb-12 text-center"><u><b>Ice Sculpting: A Beginner's Guide</b></u></h1>
<div class="px-40">
<div class="px-40">
 <div class="rounded-lg px-40 overflow-hidden ">
   <img alt="content" class="object-cover object-center px-40 aspect-1/2" src="assets/images/castle.jpg">
 </div>
</div>
</div>

<div class="p-20">
<p class="text-4xl">
<strong>Ice sculpting</strong> is an art form that has been around for centuries. From creating majestic sculptures to ice bars at weddings and events, this unique craft has countless possibilities. If you've ever wanted to try your hand at ice sculpting, then this guide is for you! Read on to learn the basics of this ancient art. 
</p>
<h1 class="font-medium leading-tight text-6xl mt-10 mb-12 text-center"><u>What You Need</u></h1>
<div class="flex flex-row">
<p class="text-4xl">
The first step to ice sculpting is to gather the necessary materials and tools. You will need a large block of ice, which can be easily purchased online or at a specialty store. You should also invest in a few basic tools such as a chisel, ice pick, saw, mallet, and specialty tools such as a chainsaw or router. Finally, you may also want to get some food coloring, lights, or markers to help you create your art.
</p>
<img alt="content" class="object-cover object-center px-40 aspect-1/2" src="assets/images/ice_block(1).jpg">
</div>
<h1 class="font-medium leading-tight text-6xl mt-10 mb-12 text-center"><u>Creating a Basic Shape</u></h1>
<div class="px-40 flex flex -row">
<img alt="content" class="object-cover object-center px-40 aspect-1/2" src="assets/images/ice_block2.jpg">

<img alt="content" class="object-cover object-center px-40 aspect-1/2" src="assets/images/ice_begin(1).jpg">
</div>
<p class="text-4xl">
Once you have the necessary materials, it's time to start sculpting. The first step is to prepare your ice block by removing any snow or dirt on the surface. Next, use your chisel, ice pick, and saw to carve out a basic shape. Make sure to use light strokes as too much pressure can cause the ice to crack. 
</p>
<h1 class="font-medium leading-tight text-6xl mt-10 mb-12 text-center"><u>Using Specialty Tools</u></h1>
<div class="flex flex-row">
<p class="text-4xl">
Once the basic shape is ready, it's time to start sculpting. Begin by sketching out a design on the surface of the ice. You can use markers or pens to help you see the design while you're working. Once the design is complete, start chipping away at the ice using your chisel and ice pick. You can also use a chainsaw or router to create larger cuts and shapes. 
</p>
<img alt="content" class="object-cover object-center px-40 aspect-1/2" src="assets/images/ice_tool.jpg">
</div>
<h1 class="font-medium leading-tight text-6xl mt-10 mb-12 text-center"><u>Adding Details And Finishing The Piece</u></h1>
<p class="text-4xl">
Once the bulk of the sculpting is complete, it's time to add some details and finish off the piece. You can use a saw or router to create intricate patterns, and use a mallet to smooth out any rough edges. If you'd like, you can also add food coloring or lighting to the piece to make it truly unique. 
</p>
<div class="px-40">
  <div class="px-40">
    <div class="px-40">
<img alt="content" class="object-cover object-center px-40 aspect-1/2" src="assets/images/ice_final.jpg">
</div>
</div>
</div>
<h1 class="font-medium leading-tight text-6xl mt-10 mb-12 text-center"><u>Storing And Displaying Your Art</u></h1>
<p class="text-4xl">
When your ice sculpture is complete, you'll need to decide how to display or store it. If you plan to showcase your work, you can encase the sculpture in a freezer-friendly box or container to keep it from melting. If you plan to store the sculpture for a longer period of time, you may want to freeze the sculpture and wrap it in a towel or blanket. 

No matter how you choose to store or display your art, it's important to remember that ice sculptures are temporary and will eventually melt. To make the most of your sculpture, take pictures and videos to remember your work and share it with your friends and family. 

With practice and dedication, you can become a master of ice sculpting. So don't be afraid to get creative and show off your talents. With the right tools and materials, you can create beautiful and unique pieces of art that will be admired for years to come.
</p>
</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      
      <span class="ml-3 text-xl">Glacial Glitter</span>
    </a>
    <p class="text-sm text-black sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 Glacial Glitter 
    </p>
    
  </div>
</footer>